@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&display=swap');
@import './variables';

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(70deg,#181818,#0e0e0e 50%,#323232);
    color: $text-color;
    position: relative;
}

a { -webkit-tap-highlight-color: transparent; }

// Top bar

.topBar {
    width: 100%;
    height: 100px;
    padding: 0 60px;
    font-family: $text-font;
    font-size: 1.3rem;
    display: flex;
}

.topBar-nav {
    width: 100%;
    height: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.topBar-link {
    padding: 3px 5px;
    border-radius: 5px;
    color: $text-color;
    text-decoration: none;
    transition: .2s ease;
    &:active {
        background-color: rgba(80,80,80,.541);
    }
    &:hover {
        color: #ff1c39;
        transition: .2s ease;
    }
}

.topBar-contactLink {
    padding: 3px 20px;
    background-color: #ff1c39;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #ecf1f4;
    letter-spacing: 1px;
    text-decoration: none;
    transition: .2s ease-in-out;
    &:hover {
        background: transparent;
        border: 1px solid #ff1c39;
        color: #ff1c39;
        transition: .2s ease-in-out;
    }
}

// General styles

.hero, .about, .projects, .contact {
    width: 100%;
    padding: 0 80px;
}

.about-title, .projects-title, .contact-title {
    @include titles($title-font, 2rem, 1px, $text-color);
    > span { color: $red-color; }
    margin-bottom: 50px;
}

// Home section

.hero {
    height: calc(100vh - 100px);
    max-height: 1080px;
    min-height: 600px;
    display: flex;
    justify-content: center;
}

.hero-container { padding-top: 140px; }

.hero-title {
    @include titles($title-font, 4rem, .1rem, $text-color);
    > span { color: $red-color; }
}

.hero-subtitle {
    @include titles($title-font, 2.5rem, 0, $text-color)
}

// About section

.about-container {
    padding-top: 100px;
    padding-bottom: 60px;
    display: flex;
}

.about-leftSide {
    width: 70%;
    max-width: 600px;
    padding-right: 18px;
}

.about-text { font-family: $text-font; }

.about-link { 
    text-decoration: none;
    font-family: $text-font;
    color: $text-color;
    > span { color: $red-color; }
}

.about-photoContainer {
    width: 300px;
    height: 300px;
    margin: 0;
    overflow: hidden;
    border-radius: 50%;
}

.about-techsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-techsContent__a {
    width: 50%;
    max-width: 360px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

.about-techsContent__b {
    width: 60%;
    max-width: 420px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

// Projects section 

.projects-container {
    padding-top: 100px;
    padding-bottom: 60px;
}

.projects-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    > div {
        width: 100%;
        max-width: 770px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.project {
    width: 340px;
    height: 340px;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-right: 15px;
    transition: .2s ease-in-out;
    background-position: 50%;
    background-size: cover;
}

.project-details {
    width: 100%;
    height: 100%;
    padding: 10px;
    color: $text-color;
    font-family: $text-font;
    font-size: 1.2rem;
    opacity: 0;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: .2s ease-in-out;
    &:hover {
        background-color: hsla(0,0%,100%,.102);
        opacity: 1;
        transition: .2s ease-in-out;
    }
}

.project-link {
    width: fit-content;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    color: $text-color;
    background-color: $red-color;
    border-radius: 6px;
    align-self: center;
}

.calculator {
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(../assets/projects-img/project-preview.png);
}

.ecommerce {
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(../assets/projects-img/project-preview2.png);
}

// .todoList {

// }

// Contact section

.contact-container {
    padding-top: 100px;
}

.form {
    width: 100%;
    max-width: 600px;
    height: 900px;
    background-color: $text-color;
    border-radius: 5px;
    border-width: 0;
}

.other-contacts {
    width: 100px;
    height: fit-content;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.contact-icon {
    margin-right: 16px;
}

.socialIcons {
    width: 40px;
    height: 40px;
    filter: invert(26%) sepia(85%) saturate(5278%) hue-rotate(341deg) brightness(100%) contrast(103%);
    transition: .1s ease;
}

// Footer section

footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    > small {
        font-family: $text-font;
        color: #91919180;
    }
}

// mobile

.mobileMenu-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: $text-color;
    display: none;
    justify-content: center;
    align-items: center;
}

.menu-icon {
    width: 24px;
    height: 24px;
}

.mobileMenu {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 5;
    top: 0;
    left: -100%;
    transition: .3s ease-in-out;
}

.opened {
    left: 0;
    transition: .3s ease-in-out;
}

.mobileMenu-container {
    width: 40%;
    min-width: 200px;
    max-width: 240px;
    height: 100%;
    background-color: $text-color;
    display: flex;
    flex-direction: column;
    > span {
        width: fit-content;
        height: fit-content;
        padding: 10px;
        cursor: pointer;
        align-self: flex-end;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.mobileLink, .mobileLinkContact {
    height: 40px;
    padding: 5px 10px;
    text-decoration: none;
    font-family: $text-font;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobileLink {
    color: #000;
    &:hover {
        background-color: #dfdfdf;
        transition: .2s;
    }
}

.mobileLinkContact {
    background-color: $red-color;
    color: $text-color;
}

.mobileMenu-closeIcon {
    width: 20px;
    height: 20px;
}

@media all and (max-width: 1024px){
    .contact-formContainer {
        display: flex;
        justify-content: center;
    }

    .other-contacts {
        width: 100%;
        justify-content: center;
    }
}

@media all and (max-width: 869px) {
    .projects-list > div { justify-content: center; }
    .project { margin-right: 0; }
}

@media all and (max-width: 768px){
    .hero, .about, .projects, .contact { padding: 0 60px; }

    .topBar-nav {
        padding: 0;
        justify-content: flex-start;
    }

    .topBar-link, .topBar-contactLink { display: none }

    .about-container { flex-direction: column; }

    .about-leftSide, .about-rightSide { width: 100%; }

    .about-leftSide { padding: 0; }

    .about-rightSide {
        display: flex;
        justify-content: center;
    }

    .about-rightSide { padding-top: 32px; }

    .mobileMenu-btn { display: flex; }
}

@media all and (max-width: 626px){
    .hero, .about, .projects, .contact { padding: 0 40px; }

    .hero-title { font-size: 3.5rem; }
    .hero-subtitle { font-size: 2rem; }
}

@media all and (max-width: 532px){
    .hero, .about, .projects, .contact { padding: 0 20px; }

    .about-title, .projects-title, .contact-title {
        text-align: center;
    }

    .hero-title { font-size: 2.75rem; }
    .hero-subtitle { font-size: 1.5rem; }

    .project {
        width: 300px;
        height: 300px
    }

}

@media all and (max-width: 425px){
    .hero, .about, .projects, .contact { padding: 0 10px; }

    .hero-title { font-size: 2rem; }
    .hero-subtitle { font-size: 1.35rem; }

    .about-photoContainer {
        width: 280px;
        height: 280px;
    }
}

@media all and (min-width: 968px){
    .about-leftSide { margin-right: 100px; }
}

@media all and (min-width: 768px){
    .about-photoContainer { margin-top: 32px; }
}