@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&display=swap");
/* BASIC STYLE
'Josefin Sans', sans-serif -> font for "important" titles
font-family: 'DM Sans', sans-serif; -> font for nav and general text
#FF1C39 -> red color
#ECF1F4 -> general text color
*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(70deg, #181818, #0e0e0e 50%, #323232);
  color: #ECF1F4;
  position: relative;
}

a, button, span {
  -webkit-tap-highlight-color: transparent;
}

.topBar {
  width: 100%;
  height: 100px;
  padding: 0 60px;
  font-family: "DM Sans", sans-serif;
  font-size: 1.3rem;
  display: flex;
}

.topBar-nav {
  width: 100%;
  height: 100%;
  padding: 0 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.topBar-link {
  padding: 3px 5px;
  border-radius: 5px;
  color: #ECF1F4;
  text-decoration: none;
  transition: 0.2s ease;
}
.topBar-link:active {
  background-color: rgba(80, 80, 80, 0.541);
}
.topBar-link:hover {
  color: #ff1c39;
  transition: 0.2s ease;
}

.topBar-contactLink {
  padding: 3px 20px;
  background-color: #ff1c39;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #ecf1f4;
  letter-spacing: 1px;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
.topBar-contactLink:hover {
  background: transparent;
  border: 1px solid #ff1c39;
  color: #ff1c39;
  transition: 0.2s ease-in-out;
}

.hero, .about, .projects, .contact {
  width: 100%;
  padding: 0 80px;
}

.about-title, .projects-title, .contact-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  color: #ECF1F4;
  margin-bottom: 50px;
}
.about-title > span, .projects-title > span, .contact-title > span {
  color: #FF1C39;
}

.hero {
  height: calc(100vh - 100px);
  max-height: 1080px;
  min-height: 600px;
  display: flex;
  justify-content: center;
}

.hero-container {
  padding-top: 140px;
}

.hero-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4rem;
  letter-spacing: 0.1rem;
  color: #ECF1F4;
}
.hero-title > span {
  color: #FF1C39;
}

.hero-subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0;
  color: #ECF1F4;
}
.hero-subtitle > span {
  color: #FF1C39;
}

.about-container {
  padding-top: 100px;
  padding-bottom: 60px;
  display: flex;
}

.about-leftSide {
  width: 70%;
  max-width: 600px;
  padding-right: 18px;
}

.about-text {
  font-family: "DM Sans", sans-serif;
}

.about-link {
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  color: #ECF1F4;
}
.about-link > span {
  color: #FF1C39;
}
.about-link > span:hover {
  color: #ECF1F4;
}

.about-photoContainer {
  width: 300px;
  height: 300px;
  margin: 0;
  overflow: hidden;
  border-radius: 50%;
}

.about-techsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-techsContent__a {
  width: 50%;
  max-width: 360px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.about-techsContent__b {
  width: 60%;
  max-width: 420px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.projects-container {
  padding-top: 100px;
  padding-bottom: 60px;
}

.projects-list {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.projects-list > div {
  width: 100%;
  max-width: 770px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  width: 340px;
  height: 340px;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-right: 15px;
  transition: 0.2s ease-in-out;
  background-position: 50%;
  background-size: cover;
  transition: 0.2s ease-in-out;
}

.project-details {
  width: 100%;
  height: 100%;
  padding: 10px;
  color: #ECF1F4;
  font-family: "DM Sans", sans-serif;
  font-size: 1.2rem;
  opacity: 0;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.2s ease-in-out;
}
.project-details:hover {
  opacity: 1;
  transition: 0.2s ease-in-out;
}
.project-details:hover .project-description, .project-details:hover .project-link {
  opacity: 1;
  transform: translateY(5px);
  transition: 0.2s ease-in-out;
}

.project-description {
  text-transform: uppercase;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.project-link {
  width: fit-content;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  color: #ECF1F4;
  background-color: #FF1C39;
  border-radius: 6px;
  align-self: center;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.calculator {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/projects-img/project_calc.png);
  background-repeat: no-repeat;
}

.ecommerce {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/projects-img/project_ecommerce.png);
}

.todoList {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/projects-img/project_todoList.png);
}

.projects-text {
  font-family: "DM Sans", sans-serif;
  color: #ECF1F4;
}
.projects-text > a {
  color: #FF1C39;
  text-decoration: none;
}

.contact-container {
  padding-top: 100px;
}

.contact-formContainer {
  display: flex;
  justify-content: center;
}

.contact-title {
  text-align: center;
}

.form {
  width: 100%;
  max-width: 600px;
  height: 900px;
  background-color: #ECF1F4;
  border-radius: 5px;
  border-width: 0;
}

.other-contacts {
  width: 100%;
  height: fit-content;
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.contact-icon {
  margin-right: 16px;
}

.socialIcons {
  width: 40px;
  height: 40px;
  filter: invert(26%) sepia(85%) saturate(5278%) hue-rotate(341deg) brightness(100%) contrast(103%);
  transition: 0.1s ease;
}
.socialIcons:hover {
  filter: invert(97%) sepia(4%) saturate(1005%) hue-rotate(183deg) brightness(102%) contrast(91%);
}

footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer > small {
  font-family: "DM Sans", sans-serif;
  color: rgba(145, 145, 145, 0.5019607843);
}

.mobileMenu-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(126, 126, 126, 0.1607843137);
  background-color: #1d1d1d;
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  width: 24px;
  height: 24px;
  filter: invert(56%) sepia(0%) saturate(37%) hue-rotate(333deg) brightness(89%) contrast(88%);
}

.mobileMenu {
  width: 100%;
  height: 110vh;
  position: fixed;
  z-index: 5;
  top: 0;
  left: -100%;
  transition: 0.3s ease-in-out;
}

.opened {
  left: 0;
  transition: 0.3s ease-in-out;
}

.mobileMenu-container {
  width: 40%;
  min-width: 200px;
  max-width: 240px;
  height: 100%;
  background-color: #ECF1F4;
  display: flex;
  flex-direction: column;
}
.mobileMenu-container > span {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  cursor: pointer;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobileLink, .mobileLinkContact {
  height: 40px;
  padding: 5px 10px;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobileLink {
  color: #000;
}
.mobileLink:hover {
  background-color: #dfdfdf;
  transition: 0.2s;
}

.mobileLinkContact {
  background-color: #FF1C39;
  color: #ECF1F4;
}

.mobileMenu-closeIcon {
  width: 20px;
  height: 20px;
}

@media all and (max-width: 869px) {
  .projects-list > div {
    justify-content: center;
  }
  .projects-text {
    text-align: center;
  }
}
@media all and (max-width: 768px) {
  .hero, .about, .projects, .contact {
    padding: 0 60px;
  }
  .topBar-nav {
    padding: 0;
    justify-content: flex-start;
  }
  .topBar-link, .topBar-contactLink {
    display: none;
  }
  .about-container {
    flex-direction: column;
  }
  .about-leftSide, .about-rightSide {
    width: 100%;
  }
  .about-leftSide {
    padding: 0;
  }
  .about-rightSide {
    display: flex;
    justify-content: center;
  }
  .about-rightSide {
    padding-top: 32px;
  }
  .mobileMenu-btn {
    display: flex;
  }
}
@media all and (max-width: 626px) {
  .hero, .about, .projects, .contact {
    padding: 0 40px;
  }
  .hero-title {
    font-size: 3.5rem;
  }
  .hero-subtitle {
    font-size: 2rem;
  }
}
@media all and (max-width: 532px) {
  .hero, .about, .projects, .contact {
    padding: 0 20px;
  }
  .about-title, .projects-title, .contact-title {
    text-align: center;
  }
  .hero-title {
    font-size: 2.75rem;
  }
  .hero-subtitle {
    font-size: 1.5rem;
  }
  .project {
    width: 300px;
    height: 300px;
  }
}
@media all and (max-width: 425px) {
  .hero, .about, .projects, .contact {
    padding: 0 10px;
  }
  .topBar {
    padding: 0 30px;
  }
  .hero-title {
    font-size: 2rem;
  }
  .hero-subtitle {
    font-size: 1.35rem;
  }
  .about-photoContainer {
    width: 280px;
    height: 280px;
  }
}
@media all and (min-width: 968px) {
  .about-leftSide {
    margin-right: 100px;
  }
}
@media all and (min-width: 768px) {
  .about-photoContainer {
    margin-top: 32px;
  }
}

/*# sourceMappingURL=index.css.map */
